<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class = "page-container">
    <h1>Buildings</h1>
    <a href='/'><button>Home</button></a>

        <form id="search-buildings" method="GET" class = "search" action="/buildings"> 
            <label for="input-buildingID" >Search by Building Name: </label>
            <input type="text" name="building_id" id="input-buildingID" placeholder="Enter building ID">

            <input type="submit">
            <a href="/buildings"><button>Reset</button></a>
        </form>

    <table id="buildings-table">
        <thead>
            <tr>
                <th>Building ID</th>
                <th>Host ID</th>
                <th>Number of Bedrooms</th>
                <th>Number of Bathrooms</th>
                <th>Rent Amount</th>
                <th>Number of Clients</th>
                <th>State</th>
                <th>City</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each buildings}}
                <tr>
                    <td>{{this.building_id}}</td>
                    <td>{{this.host_id}}</td>
                    <td>{{this.bedroom_number}}</td>
                    <td>{{this.bathroom_number}}</td>
                    <td>{{this.rent_amount}}</td>
                    <td>{{this.client_number}}</td>
                    <td>{{this.state}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.zipcode}}</td>
                    <td><button class="Delete-button" onclick="deleteBuilding({{this.building_id}})">Delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

<div class = "add-update-container">
    <div class = "column">
    <h1>Add a Building</h1>
    <form id="add-building-form" class = "add-update" action="javascript:void(0);" onsubmit="window.location.href = window.location.href;">
        <label for="input-hostID">Host ID: </label>
        <select id="input-hostID" name="input-hostID">
            <option value="">Select a host ID</option>
            {{#each buildings}}
            <option value="{{this.host_id}}">{{this.host_id}}</option>
            {{/each}}
        </select>

        <label for="input-bedroom">Number of Bedrooms:</label>
        <input type="number" name="input-bedroom" id="input-bedroom" placeholder="Enter The Number of Bedrooms">

        <label for="input-bathroom">Number of Bathrooms:</label>
        <input type="number" name="input-bathroom" id="input-bathroom" placeholder="Enter The Number of Bathrooms">

        <label for="input-rent">Rent Amount:</label>
        <input type="number" step="any" name="input-rent" id="input-rent" placeholder="Enter Rent Amount">

        <label for="input-client">Number of Clients:</label>
        <input type="number" name="input-client" id="input-client" placeholder="Enter The Number of Clients">

        <label for="input-state">State: </label>
        <input type="text" name="input-state" id="input-state" placeholder="Enter State">

        <label for="input-city">City: </label>
        <input type="text" name="input-city" id="input-city" placeholder="Enter City">

        <label for="input-address">Address: </label>
        <input type="text" name="input-address" id="input-address" placeholder="Enter Address">

        <label for="input-zipcode">Zipcode: </label>
        <input type="number" name="input-zipcode" id="input-zipcode" placeholder="Enter Zipcode">

        <input type="submit">
    </form>
    </div>
    <div class = "column">
    <h1>Update a Building's Rental Amount</h1>
    <form id="update-building-form" class = "add-update" onsubmit="updateBuildingRent(); return false;">
        <select id="building-select" name="building-select">
            <option value="">Select a Building</option>
            {{#each buildings}}
            <option value="{{this.building_id}}">{{this.building_id}}</option>
            {{/each}}
        </select>
        <input type="number" id="new-rent" name="new-rent" placeholder="Enter New Rent Amount">
        <input type="submit" value="Update Rent">
    </form>
    </div>
    </div>  
    </div>

    <script src="/js/add/add_building.js"> </script>
    <script src="/js/delete/delete_building.js"></script>
    <script src="/js/update/update_building.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
