<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Buildings</h1>
    <a href='/'><button>Home</button></a>

        <form id="search-buildings" method="GET" action="/buildings"> 
            <label for="input-buildingID" >Search by Building Name: </label>
            <input type="text" name="building_id" id="input-buildingID" placeholder="Enter building ID">

            <input type="submit">
            <a href="/buildings"><button>Reset</button></a>
        </form>

    <table id="buildings-table">
        <thead>
            <tr>
                <th>Building ID</th>
                <th>Host ID</th>
                <th>Number of Bedrooms</th>
                <th>Number of Bathrooms</th>
                <th>Rent Amount</th>
                <th>Number of Clients</th>
                <th>State</th>
                <th>City</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each buildings}}
                <tr>
                    <td>{{this.building_id}}</td>
                    <td>{{this.host_id}}</td>
                    <td>{{this.bedroom_number}}</td>
                    <td>{{this.bathroom_number}}</td>
                    <td>{{this.rent_amount}}</td>
                    <td>{{this.client_number}}</td>
                    <td>{{this.state}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.zipcode}}</td>
                    <td><button class="Edit-button" onclick="submitHostData('edit')">Update</button></td>
                    <td><button class="Delete-button" onclick="deleteBuilding({{this.building_id}})">Delete</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <form id="add-building-form" action="javascript:void(0);" onsubmit="window.location.href = window.location.href;">
        <label for="input-hostID">Host ID: </label>
        <input type="number" name="input-hostID" id="input-hostID">

        <label for="input-bedroom">Number of Bedrooms:</label>
        <input type="number" name="input-bedroom" id="input-bedroom">

        <label for="input-bathroom">Number of Bathrooms:</label>
        <input type="number" name="input-bathroom" id="input-bathroom">

        <label for="input-rent">Rent Amount:</label>
        <input type="number" step="any" name="input-rent" id="input-rent">

        <label for="input-client">Number of Clients:</label>
        <input type="number" name="input-client" id="input-client">

        <label for="input-state">State: </label>
        <input type="text" name="input-state" id="input-state">

        <label for="input-city">City: </label>
        <input type="text" name="input-city" id="input-city">

        <label for="input-address">Address: </label>
        <input type="text" name="input-address" id="input-address">

        <label for="input-zipcode">Zipcode: </label>
        <input type="number" name="input-zipcode" id="input-zipcode">

        <input type="submit">
    </form>

    <script src="/js/add/add_building.js"> </script>
    <script src="/js/delete/delete_building.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
