<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Clients</h1>
    <a href='/'><button>Home</button></a>

    <table id="client-table">
        <form id="search-clients" method="GET" action="/clients"> 
            <label for="input-clientName" >Search by Host Name: </label>
            <input type="text" name="client_name" id="input-clientName" placeholder="Enter client name">

            <input type="submit">
            <a href="/clients"><button>Reset</button></a>
        </form>


        <thead>
            <tr>
                <th>Client ID</th>
                <th>Building ID</th>
                <th>Phone Number</th>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>City</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each clients}}
                <tr>
                    <td>{{this.client_id}}</td>
                    <td>{{this.building_id}}</td>
                    <td>{{this.phone_number}}</td>
                    <td>{{this.client_name}}</td>
                    <td>{{this.client_email}}</td>
                    <td>{{this.state}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.zipcode}}</td>
                    <td><button class="Delete-button" onclick="deleteClients({{this.client_id}})">Delete</button></td>
                </tr>
            {{/each}}
            <!-- Add a single row for all input boxes and the Enter button -->

        </tbody>
    </table>


    <h1>Add a Client</h1>
    <form id="add-client-form" action="javascript:void(0);" onsubmit="window.location.href = window.location.href;">
        <label for="input-buildingID">Building ID: </label>
        <select id="input-buildingID" name="input-buildingID">
            <option value="">Select a Client</option>
            {{#each clients}}
            <option value="{{this.building_id}}">{{this.building_id}} | {{this.client_name}}</option>
            {{/each}}
        </select>

        <label for="input-phoneNumber">Phone Number: </label>
        <input type="text" name="input-phoneNumber" id="input-phoneNumber" placeholder="Enter Phone Number">

        <label for="input-name">Full Name: </label>
        <input type="text" name="input-name" id="input-name" placeholder="Enter Full Name">

        <label for="input-email">Email: </label>
        <input type="text" name="input-email" id="input-email" placeholder="Enter Email">

        <label for="input-state">State: </label>
        <input type="text" name="input-state" id="input-state" placeholder="Enter State">

        <label for="input-city">City: </label>
        <input type="text" name="input-city" id="input-city" placeholder="Enter City">

        <label for="input-address">Address: </label>
        <input type="text" name="input-address" id="input-address" placeholder="Enter Address"> 


        <label for="input-zipcode">Zipcode: </label>
        <input type="number" name="input-zipcode" id="input-zipcode" placeholder="Enter Zipcode">

    
        <input type="submit">
    </form>

    <h1>Update Client Phone Number</h1>
    <form id="update-client-form" onsubmit="updateClientPhoneNumber(); return false;">
        <select id="clientNameSelect" name="clientNameSelect">
            <option value="">Select a Client</option>
            {{#each clients}}
            <option value="{{this.client_name}}">{{this.client_name}}</option>
            {{/each}}
        </select>
        <input type="text" id="clientPhoneNumber" name="clientPhoneNumber" placeholder="New Phone Number">
        <button type="submit">Update Phone Number</button>
    </form>



    <script src="/js/add/add_client.js"></script>
    <script src="/js/delete/delete_clients.js"></script>
    <script src="/js/update/update_client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
