<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosts</title>
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Hosts</h1>
    <a href='/'><button>Home</button></a>

    <table id="hosts-table">

        <form id="search-hosts" method="GET" action="/hosts"> 
            <label for="input-hostsName" >Search by Host Name: </label>
            <input type="text" name="host_name" id="input-hostsName" placeholder="enter hosts name">

            <input type="submit">
            <a href="/hosts"><button>Reset</button></a>
        </form>

        <thead>
            <tr>
                <th>Host ID</th>
                <th>Host Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Number of Buildings Owned</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each hosts}}
                <tr>
                    <td>{{this.host_id}}</td>
                    <td>{{this.host_name}}</td>
                    <td>{{this.host_email}}</td>
                    <td>{{this.host_phone_number}}</td>
                    <td>{{this.number_buildings_owned}}</td>
                    <td><button class="Delete-button" onclick="deleteHosts({{this.host_id}})">Delete</button></td>
                </tr>
            {{/each}}
            <!-- Add a single row for all input boxes and the Enter button -->
        </tbody>
    </table>

    <h1>Add a Host</h1>
    <form id="add-hosts-form" action="javascript:void(0);" onsubmit="window.location.href = window.location.href;">
        <label for="input-hostName">Host Name: </label>
        <input type="text" name="input-hostName" id="input-hostName" placeholder="Enter Name">

        <label for="input-email">Email: </label>
        <input type="text" name="input-email" id="input-email" placeholder="Enter Email">

        <label for="input-phoneNumber">Phone Number: </label>
        <input type="text" name="input-phoneNumber" id="input-phoneNumber" placeholder="Enter Phone Number">

        <label for="input-buildingsOwned">Number of Buildings Owned: </label>
        <input type="number" name="input-buildingsOwned" id="input-buildingsOwned" placeholder="Enter Amount of Buildings Owned">

        <input type="submit">
    </form>


    <h1>Update Number of Buildings owned</h1>
    <form id="update-host-form" onsubmit="updateBuildingsOwned(); return false;">
        <select id="hostIDSelect" name="hostIDSelect">
            <option value="">Select a Host</option>
            {{#each hosts}}
            <option value="{{this.host_id}}">{{this.host_id}}</option>
            {{/each}}
        </select>
        <input type="number" id="buildingsOwned" name="buildingsOwned" placeholder="New Buildings Owned">
        <button type="submit">Update Buildings Owned</button>
    </form>

    <script src="/js/add/add_hosts.js"> </script>
    <script src="/js/delete/delete_hosts.js"></script>
    <script src="/js/update/update_hosts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>
