<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hosts</title>
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Hosts</h1>
    <a href='/'><button>Home</button></a>

    <table id="hosts-table">

        <form action="/search" method="get">
            <input type="text" id="searchInput" name="searchInput" placeholder="Search by Host ID">
            <input type="submit" value="Search">
        </form>

        <thead>
            <tr>
                <th>Host ID</th>
                <th>Host Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Number of Buildings Owned</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each hosts}}
                <tr>
                    <td>{{this.host_id}}</td>
                    <td>{{this.host_name}}</td>
                    <td>{{this.host_email}}</td>
                    <td>{{this.host_phone_number}}</td>
                    <td>{{this.number_buildings_owned}}</td>
                    <td><button class="Edit-button" onclick="submitHostData('edit')">Update</button></td>
                    <td><button class="Delete-button" onclick="submitHostData('delete')">Delete</button></td>
                </tr>
            {{/each}}
            <!-- Add a single row for all input boxes and the Enter button -->
        </tbody>
    </table>

    <script src="/js/add_hosts.js"> </script>
</body>
</html>
