<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental History</title>
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Rental History</h1>
    <a href='/'><button>Home</button></a>

        <form id="search-rental" method="GET" action="/rental_histories"> 
            <label for="input-hostsName" >Search by Host Name: </label>
            <input type="text" name="rental_id" id="input-rental" placeholder="enter a rental ID">

            <input type="submit">
            <a href="/rental_histories"><button>Reset</button></a>
        </form>


    <table id="rentalHistory-table">
        <thead>
            <tr>
                <th>Rental ID</th>
                <th>Client ID</th>
                <th>Building ID</th>
                <th>Lease Start Date</th>
                <th>Lease End Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each rental_histories}}
                <tr>
                    <td>{{this.rental_id}}</td>
                    <td>{{this.client_id}}</td>
                    <td>{{this.building_id}}</td>
                    <td>{{this.lease_start_date}}</td>
                    <td>{{this.lease_end_date}}</td>
                    <td><button class="Edit-button" onclick="submitHostData('edit')">Update</button></td>
                    <td><button class="Delete-button" onclick="deleteRentalHistory({{this.rental_id}})">Delete</button></td>
                </tr>
            {{/each}}
            <!-- Add a single row for all input boxes and the Enter button -->
        </tbody>
    </table>

    <form id="add-rentalHistory-form" action="javascript:void(0);" onsubmit="window.location.href = window.location.href;">
        <label for="input-clientID">Enter Client ID: </label>
        <input type="text" name="input-clientID" id="input-clientID">

        <label for="input-buildingID">Enter Building ID: </label>
        <input type="text" name="input-buildingID" id="input-buildingID">

        <label for="input-leaseStart">Enter Lease Start Date: </label>
        <input type="date" name="input-leaseStart" id="input-leaseStart">

        <label for="input-leaseEnd">Enter Lease End Date: </label>
        <input type="date" name="input-leaseEnd" id="input-leaseEnd">

        <input type="submit">
    </form>

    <script src="/js/add/add_rentalHistory.js"></script>
    <script src="/js/delete/delete_rentalHistory.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
