<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <style>
        /* Add any additional styles here */
        input {
            width: 100%;
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        /* Style for the Enter button */
        button.enter-button {
            background-color: green;
            color: white;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Transactions</h1>
    <a href='/'><button>Home</button></a>

        <form id="search-transaction" method="GET" action="/transactions"> 
            <label for="search-transaction" >Search by rental ID: </label>
            <input type="text" name="rental_id" id="search-transaction" placeholder="enter a rental ID">

            <input type="submit">
            <a href="/transactions"><button>Reset</button></a>
        </form>    

    <table id="transactions-table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Rental ID</th>
                <th>Payment Method</th>
                <th>Payment Amount</th>
                <th>Date Paid</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each transactions}}
                <tr>
                    <td>{{this.transaction_id}}</td>
                    <td>{{this.rental_id}}</td>
                    <td>{{this.payment_method}}</td>
                    <td>{{this.payment_amount}}</td>
                    <td>{{this.date_paid}}</td>
                    <td><button class="Edit-button" onclick="submitHostData('edit')">Update</button></td>
                    <td><button class="Delete-button" onclick="submitHostData('delete')">Delete</button></td>
                </tr>
            {{/each}}
 
        </tbody>
    </table>



    <form id="add-transaction-form">
        <label for="input-rentalID">Enter a Rental ID: </label>
        <input type="number" name="input-rentalID" id="input-rentalID">

        <label for="input-paymentMethod">Enter Payment Method: </label>
        <input type="text" name="input-paymentMethod" id="input-paymentMethod">

        <label for="input-paymentAmount">Enter Payment Amount: </label>
        <input type="number" step="any" name="input-paymentAmount" id="input-paymentAmount">

        
        <label for="input-datePaid">Enter Date Paid: </label>
        <input type="date" name="input-datePaid" id="input-datePaid">

        <input type="submit">
    </form>

    <script src="/js/add/add_transaction.js"></script>
</body>
</html>
